/* JSDoc prettify.js theme */

/* plain text */
.pln {
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

/* string content */
.str {
  font-weight: normal;
  font-style: normal;
  color: #006400;
}

/* a keyword */
.kwd {
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

/* a comment */
.com {
  font-weight: normal;
  font-style: italic;
}

/* a type name */
.typ {
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

/* a literal value */
.lit {
  font-weight: normal;
  font-style: normal;
  color: #006400;
}

/* punctuation */
.pun {
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

/* lisp open bracket */
.opn {
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

/* lisp close bracket */
.clo {
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

/* a markup tag name */
.tag {
  font-weight: normal;
  font-style: normal;
  color: #006400;
}

/* a markup attribute name */
.atn {
  font-weight: normal;
  font-style: normal;
  color: #006400;
}

/* a markup attribute value */
.atv {
  font-weight: normal;
  font-style: normal;
  color: #006400;
}

/* a declaration */
.dec {
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

/* a variable name */
.var {
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

/* a function name */
.fun {
  font-weight: bold;
  font-style: normal;
  color: #000000;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
